@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Noto Sans JP', sans-serif, Arial;
}

html{
   scroll-behavior: smooth;
}

nav{
   background-color: cornflowerblue;
   font-weight: 500;
   position: fixed;
   width: 100%;
}

nav ul{
   list-style: none;
   display: flex;
   justify-content: center;
}

nav ul li{
   padding: 1rem;
}

nav ul li a{
   text-decoration: none;
   color: #fff;
}

header{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 3rem;
}

header div#img-rocket {
   display: flex;
   justify-content: center;
}

header div p{
   font-size: 2vw;
   font-weight: 700;
   color: lightpink;
}

header div span{
   font-size: 1vw;
   font-weight: 500;
   color: cornflowerblue;
}

header div#img-rocket img{
   width: 60%;
}

section#sobre-mim{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4rem;
   background-color: lightpink;
}


section#sobre-mim div img{
   width: 60%;
   border-radius: 50%;

}

section#sobre-mim div p{
   font-size: 1.1vw;
   text-align: justify;
   color: cornflowerblue;
   line-height: 2.5rem;
}

section#projetos{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 3rem;
}

section#projetos div img{
   display: block;
   margin: auto;
   width: 60%;
}

section#projetos div h2{
   text-align: center;
   padding: 1rem;
}

section#projetos div p{
   text-align: justify;
}

section#projetos div{
   padding: 2rem;
}

section#projetos div button{
   border: 1px solid hotpink;
   background-color: #fff;
   color: hotpink;
   padding: 1rem;
   font-size: .8vw;
   font-weight: 600;
   border-radius: .5rem;
   display: block;
   margin: auto;
   margin-top: 2rem;
   cursor: pointer;
   transition: .6s ease-out;
}

section#projetos div button:hover{
   background-color: hotpink;
   color: #fff;
   transform: scale(1.2);
}

section#habilidades{
   padding: 3rem 10rem 3rem 10rem;
   background-color: #d7e7ff;
}

section#habilidades h2{
   text-align: center;
   font-size: 2.5rem;
   margin-bottom: 2rem;
}

section#habilidades p{
   padding: 1rem;
   font-size: 1.3rem;
   font-weight: 600;
}

section#habilidades div{
   display: flex;
   border: 1px solid hotpink;
   border-radius: 1rem;
}

section#habilidades div span#python{
   background-color: hotpink;
   color: #fff;
   text-align: center;
   padding: .3rem;
   border-radius: 1rem;
   width: 80%;
}

section#habilidades div span#html{
   background-color: hotpink;
   color: #fff;
   text-align: center;
   padding: .3rem;
   border-radius: 1rem;
   width: 50%;
}

section#habilidades div span#css{
   background-color: hotpink;
   color: #fff;
   text-align: center;
   padding: .3rem;
   border-radius: 1rem;
   width: 30%;
}
section#contato {
   padding: 3rem 10rem 3rem 10rem; 
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

section#contato div#redes{
   width: 100%; 
}

section#contato div#redes h3{
   text-align: center;
   font-size: 2.5rem; 
   margin-bottom: 2rem; 
}

section#contato div#redes div#icons{
   display: flex;
   justify-content: center;
}

section#contato div#redes div#icons a{
   text-decoration: none; 
   color:hotpink;
   font-size: 4rem;
   padding: 2rem;
   transition: all .4s ease-out; 
}


section#contato div#redes div#icons a:hover{
   
   color: #71aaff;
}

section#contato div#redes div#icons a i{
   transition: all .4s ease-out;
}


section#contato div#redes div#icons a i:hover{
   transform: scale(1.2);
}

section#contato div#form{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

section#contato div#form h3{
   width: 100%;
   text-align: center;
   font-size: 2.5rem;
   margin-bottom: 2rem;
}

section#contato div#form form{
   width: 50%;
}


section#contato div#form form input, textarea{
   width: 100%;
   padding: .5rem;
   font-size: 1.2rem;
   border: 1px solid #ccc;
   margin-top: .5rem;
   margin-bottom: 1rem;
   outline: none; 
}

section#contato div#form form label{
   font-size: 1.2rem;
}

section#contato div#form form button{
   border: 1px solid hotpink;
   background-color: #fff;
   color:hotpink;
   padding: 1rem;
   font-size: .8vw;
   font-weight: 600;
   border-radius: .5rem;
   display: block;
   margin: auto;
   cursor: pointer;
   transition: .6s ease-out;
   width: 40%;
}

section#contato div#form form button:hover{
   background-color: hotpink;
   color: #fff;
   transform: scale(1.2);
}
h1 {
   color:hotpink;
   font-size: 4rem;
   text-transform: uppercase;
   display: block;
   width: 100%;
   text-align: center;
 }
 
 p {
   color: cornflowerblue;
   font-size: 1.2rem;
   width: 100%;
   padding: 20px;
   text-align: center;
 }
 section#contato form button:disabled {
   border: 1px solid rgb(170, 170, 170);
   background-color: rgb(255, 255, 255);
   color: rgb(170, 170, 170);
 }
 
 section#contato form button:hover:disabled {
   border: 1px solid rgb(170, 170, 170);
   background-color: rgb(255, 255, 255);
   color: rgb(170, 170, 170);
 }
 
 section#contato form button:hover {
   background-color: #0066ff;
   color: #fff;
 }
 
 section#contato div#redes a {
   text-decoration: none;
   color: #0066ff;
   font-size: 4rem;
   padding: 2rem;
 }
 
 section#contato div#redes a:hover {
   color: #71aaff;
   transition: 0.3s ease-in-out;
 }
 
 section#contato div#redes {
   margin-bottom: 2rem;
 }
 
 section#contato h3 {
   text-align: center;
   padding: 2rem;
   font-size: 2rem;
 }
 
  
 section#contato div#carregamento{
   display: none; 
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 3rem;
 }
 
 section#contato div#carregamento p{
   color: #0066ff;
   font-weight: 700;
   font-size: 2rem;
   width: 100%;
   text-align: center;
   padding: 2rem;
 }
 
 section#contato div#carregamento div#loader{
   border: 13px solid #fff;
   border-radius: 50%;
   border-top: 13px solid #0066ff;
   border-bottom: 13px solid #0066ff;
   width: 80px;
   height: 80px;
   
   animation: spin 2s linear infinite;
 }
 
 @keyframes spin {
   0% { 
     transform: rotate(0deg); 
   } 
   100% { 
     transform: rotate(360deg); 
   }
 }
 
 footer p {
   min-height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   color:black
 }
 
 
 footer {
   margin-top: 3rem;
 }
 
 section#success{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   background-color: rgb(235, 255, 235);
 }
 
 section#success div#card{
   background-color: lightpink;
   text-align: center;
   padding: 4rem;
   border-radius: 2rem;
   color: #71aaff;
   width: 40%;
 }
 
 section#success div#card h1{
   margin: 2rem 0rem;
   margin: 2rem 0rem;
   font-size: 2rem;
 }
 
 section#success div#card i{
   font-size: 2rem;
 }
 
 section#success div#card i{
   font-size: 5rem;
 }
 
 section#success div#card h3{
   margin-bottom: 2rem;
 }
 
 section#success div#card p{
   margin-bottom: 3rem;
   width: 100%;
   word-break: break-word;
 }
 
 section#success div#card a{
   text-decoration: none;
   padding: 1rem;
   border: 1px solid #71aaff;
   color: lightpink;
   border-radius: .4rem;
   transition: all .4s ease-out;
 }
 
 section#success div#card a:hover{
   background-color: #71aaff;
   color: #fff;
 }
 section#success div#card h1{
   margin: 2rem 0rem;
   font-size: 2rem;
 }
 
 section#success div#card i{
   font-size: 2rem;
 }